// Sass variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
 $sidebar-width: 242px;

// Active Admin's got SASS!
//@import "~@activeadmin/activeadmin/src/scss/mixins";
//@import "~@activeadmin/activeadmin/src/scss/base";
$primary-color: #0000FF;
@import '~arctic_admin/src/scss/main';

.sidebar_open {
    width: 450px !important;
}

.sidebar_custom {
    max-height: 470px;
    overflow: auto;
}

.sidebar:before{
    //color: #D462FF;
}

.sidebar_open:before{
    //color: #D462FF;
}

.table_tools {
	display: flex;
	flex-direction: column;
	row-gap: 5px;
}

#tabs {
    width: 180px !important;
}

#wrapper {
	margin-left: -35px;
}

thead th a {
    font-size: 13px;
    font-weight: bold;
    //color: #4b5563;
    color: #484848;
}

thead th.col {
    font-size: 13px;
    font-weight: bolder;
    color: #484848;
}

tbody tr td {
	color: black;
}

.menu_item {
    font-weight: bold;
}

.filter_form_field {
    color: darkcyan;
    //font-size: small;
    //font-size: medium;
    font-size: 15px !important;
    font-weight: bold;
}

input[type="submit"] {
    font-weight: bold;
    font-size: medium;
}

a.clear_filters_btn {
    font-weight: bold;
}

.action_item {
    font-weight: bold;
}

.member_link {
    font-weight: bolder;
}

#footer {
    margin-left: 10px;
    margin-top: 10px !important;
    height: 50px;
}

#q_admin{
    width: 395px;
}

.yes {
   background-color: #229954 !important;
   font-weight: bolder;
}

.no {
    color: white;
    font-weight: bolder;
}

li#project_user_input {
    margin-left: -265px;
}

select#project_user_id {
    margin-left: 250px;
    width: 710px;
}
li#project_title_input {
    margin-left: -278px;
}

input#project_title {
    margin-left: 585px;
    width: 710px;
}

li#project_donation_goal_input {
    margin-left: -195px;
}

input#project_donation_goal {
    margin-left: 502px;
    width: 710px;
}

li#project_current_donation_amount_input {
    margin-left: -105px;
}

input#project_current_donation_amount {
    margin-left: 411px;
    width: 710px;
}

li#project_expires_at_input {
    margin-left: -227px;
}

.project_expires {
    display: flex;
    flex-direction: row;
    gap: 49px;
}

li#project_status_input {
    margin-left: -256px;
}

input#project_status {
    margin-left: 560px;
    width: 710px;
}

li#project_price_input {
    margin-left: -265px;
}

input#project_price {
    margin-left: 570px;
    width: 710px;
}

li#project_currency_input {
    margin-left: -232px;
}

input#project_currency {
    margin-left: 538px;
    width: 710px;
}

#project_description_input .ql-editor p {
    max-width: 990px;
}

li#user_email_input {
    margin-left: -250px;
}

li#user_reset_password_token_input {
    margin-left: -120px;
}

li#user_first_name_input {
    margin-left: -217px;
}

li#user_last_name_input {
    margin-left: -217px;
}

li#user_admin_input {
    margin-left: -1px;
    padding-left: 8px;
}

li#user_uid_input {
    margin-left: -275px;
}

input#user_email {
    margin-left: 420px;
    width: 830px;
}

input#user_first_name {
    margin-left: 367px;
    width: 850px;
}

input#user_last_name {
    margin-left: 367px;
    width: 850px;
}

input#user_uid {
    margin-left: 425px;
    width: 850px;
}

li#user_password_input {
    margin-left: -215px;
}

input#user_password {
    margin-left: 385px;
    width: 830px;
}

li#user_password_confirmation_input {
    margin-left: -115px;
}

input#user_password_confirmation {
    width: 830px;
}

input#user_first_name {
    margin-left: 387px;
    width: 830px;
}

input#user_last_name {
    margin-left: 387px;
    width: 830px;
}

input#user_admin {
    margin-left: 125px;
}
