<div class="bg-blue-800 border-4 border-blue-700 rounded-lg px-20 pt-6 pb-8 edit-category">

	<h1 class="edit-category-header text-4xl text-blue text-left font-bold -ml-12"> Editing Category </h1>

	<%= render 'form', category: @category %>

	<%#= link_to 'Show', @category, class: "btn btn-default mt-16 show-category" %>
	<%#= link_to 'Back', categories_path %>

</div>

<style type="text/css">
	.edit-category {
	  height: 250px;
	  width: 45%;
	  margin-left: 335px;
	}

	/*.show-category {
		margin-left: -65px;
	}*/
</style>
